@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-rgb: rgb(127, 193, 198);
  --background-light-rgb: rgb(186, 223, 222);
}

body {
  background: var(--background-light-rgb);
}
