---
import { getCollection } from "astro:content";
import ArticleCard from "../components/ArticleCard.astro";
import Layout from "../layouts/Layout.astro";

const articles = (await getCollection("news")).sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="Medya | Yeşil Mavi Hayat">
  <main class="flex flex-col items-center justify-between space-y-8">
    <section class="prose max-w-none w-5/6 mt-8">
      <h1 class="text-center text-2xl sm:text-4xl mb-12">Medyada Yeşil Mavi Hayat</h1>
      <div class="flex flex-row flex-wrap justify-center gap-8">
        {articles.map((article) => <ArticleCard article={article} />)}
      </div>
    </section>
  </main>
</Layout>
