<div id="disqus_thread"></div>

<script is:inline>
var disqus_config = function () {
  this.page.url = "https://yesilmavihayat.com";
  this.page.identifier = "yorumlar";
};

(function () {
  var d = document,
    s = d.createElement("script");
  s.src = "https://yesilmavihayat.disqus.com/embed.js";
  s.setAttribute("data-timestamp", +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
