<footer class="flex justify-center p-8 pt-16 mt-auto">
  © 2023 |&nbsp;<a href="mailto:msoguk@yahoo.com">msoguk@yahoo.com</a>&nbsp;|&nbsp;
  <a href="https://doruk.gezici.me" target="_blank">DGtech</a>
</footer>
